body {
    font-family: "Georgia", Times, serif;
    Color:#000000;
    line-height: 140%;
    Margin: 30px 30px 30px 30px;
    
    Background-color: #F7F3DE;
}

header {
    font-size: 350%;
    color: #7c1a00;
}